body {
    height: 100%;
}
.faith {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
}
.glory {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
}
.monster {
    overflow: hidden;
}
.monster:active {
    margin-top: 3px;
}
.monster-name {
    font-family: 'Dancing Script', cursive;
    color: white;
}
.background {
    /*margin-top: 3%;*/
    background: url('/img/background1.jpg');
    width: 100%;
    height: 100%;
}
.god {
    width: 500px;
    height: 100px;
}
.gods-damage {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    color: white;
    display: inline-block;
    margin-left: 10px;
}